# Local Infrastructure Envs & Variables
# *.tfvars
# *.tfvars.json

# Terraform Runtime States & Local Configurations
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Node JSON Engine Dependencies
node_modules/

# Compiled Application Code Bundles & Deployments Archives
dist/
build/
zip/
zip/bundles/
*.zip

# Sensitive Security Keys & System Cache files
.env
.env.*
.DS_Store
Thumbs.db
